<section>
    <div *ngIf="isNormalAdmin">
        <div  class="text-center">
            <h2>Users Option</h2>
        </div>
        <div class="p-4 text-bg-dark shadow rounded-4 mb-5 overflow-y-auto mt-3">
            <div class="row row-cols-1 row-cols-md-3 row-cols-lg-3 gap-2 justify-content-center " >
                <div class="col-4" *ngFor="let item of Array_FormGroupUsers" >
                    <div class="container p-4" *ngIf="item.ngif" [routerLink]="item.routerLink" >
                        <div class="card-wrap">
                            <div class="card-header three">
                              <img src="../../assets/Image/Option04.png" width="150" alt="IT">
                            </div>
                            <div class="card-content">
                              <h4 class="card-title" > {{item.label_Content}} </h4>
                              <!-- <h4 class="card-title" *ngIf="this.itarbs" > {{item.label_Contentar}} </h4> -->
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>