<section>
    <div  >
        <div class="text-center">
            <h5 *ngIf="!this.itarbs">General Administration</h5>
            <h5 *ngIf="!this.itarbs">of Information Systems and Digital Transformation</h5>

            <h3 *ngIf="this.itarbs">الادارة العامه لنظم المعلومات والتحول الرقمى</h3>

        </div>
        <div class="AboutView ">

            <video class="shadow rounded-5 " width="100%" [autoplay]="autoplay"  [loop]="loop" autoplay >

                <source  src="../../assets/Image/WhatsApp Video 2023-10-30 at 08.48.00.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</section>

