<section>
    <div class="text-center">
            <h2>{{this.TagsName}} Videos </h2>
    </div>
    <div class="p-3 text-bg-dark shadow rounded-4 mb-5 overflow-y-auto mt-3">
        <div class="row row-cols-1 justify-content-center " >
            <div class="col-lg-4 text-center " *ngFor="let item of Videos" routerLink="/catrgores/tags/Videos/video" (click)="ValueUserChose(item.Video , item.Video_Lantin_Title , item.VideoID , item.fav)">
                <div class="position-relative">
                    <video class="shadow rounded-5" width="100%" >
                        <img src="" alt="">
                    </video>
                    <div class="Hovring rounded-5 overflow-y-auto p-2">
                        <pre>{{item.Video_Lantin_Description}}</pre>
                    </div>
                </div>
                <h3 class="text-black"> {{item.Video_Lantin_Title}} </h3>
            </div>
        </div>
    </div>
</section>