<div *ngIf="!englag">
  <div class="brand text-center">
    <img [ngClass]="{'rotate-y1': showLogo1, 'hide-logo': !showLogo1}" src="../../assets/Image/2.png" width="120" alt="EMP Logo 1" class="img-fluid logo" routerLink="/">
    <img  [ngClass]="{'rotate-y2': showLogo2, 'hide-logo': !showLogo2}" src="../../assets/Image/3.png" width="120" alt="EMP Logo 2" class="img-fluid logo" routerLink="/">
    <!-- <h6>إدارة تكنولوجيا المعلومات</h6> -->
  </div>
  <div class="brand2">
    <img   src="../../assets/Image/1.png" width="300" alt="EMP Logo 2" class="img-fluid logo" routerLink="/">
  </div>
</div>
<div *ngIf="englag">
  <div class="brandarr text-center">
    <img [ngClass]="{'rotate-y1': showLogo1, 'hide-logo': !showLogo1}" src="../../assets/Image/2.png" width="120" alt="EMP Logo 1" class="img-fluid logo" routerLink="/">
    <img  [ngClass]="{'rotate-y2': showLogo2, 'hide-logo': !showLogo2}" src="../../assets/Image/3.png" width="120" alt="EMP Logo 2" class="img-fluid logo" routerLink="/">
    <!-- <h6>إدارة تكنولوجيا المعلومات</h6> -->
  </div>
  <div class="brand2arr">
    <img   src="../../assets/Image/1.png" width="300" alt="EMP Logo 2" class="img-fluid logo" routerLink="/">
  </div>
</div>

  
  