<div class="text-center">
    <h2>Add Users to Groups</h2>
</div>
<div class="p-4 text-bg-dark shadow rounded-4 mb-5 overflow-y-auto mt-3">
    <div class="container p-4">
        <form [formGroup]="formData" (ngSubmit)="onSubmit()">
            <div >
                <div >
                    <div class="form-group">
                        <label for="listId"> Users Name</label>
                        <ng-select id="listId" class="form-control" formControlName="listId" (ngModelChange)="onUserChange($event) ;">
                            <ng-option *ngFor="let useroption of useroptions"  [value]="useroption.FullName" >{{useroption!.FullName}}</ng-option>
                        </ng-select>                    
                    </div>
                </div>
            </div>
            
            <div>
                <div >
                    <div class="form-group mt-2">
                        <label for="listGroupID">Group Name</label>
                        <ng-select id="listGroupID" class="form-control" formControlName="listGroupID" (ngModelChange)="onGroupChange($event) ;">
                            <ng-option *ngFor="let groupoption of groupoptions"  [value]="groupoption.Lantin_GroupName" >{{groupoption!.Lantin_GroupName}}</ng-option>
                        </ng-select> 
                    </div>
                </div>
            </div>
            <div>
                
                <!-- <button class="btn btn-primary m-2" type="button" (click)="addItemToListId('')">Add ID</button> -->
                <!-- <button class="btn btn-primary m-2" type="button" (click)="addItemToListGroupId(0)">Add Group ID</button> -->
            </div>

            <button type="submit" class="btn btn-primary mt-2">Users &lt;=&gt; Groups</button>
        </form>
        <div class="popup" id="popup"></div>
      </div>
</div>