<section>
    <div *ngIf="isNormalAdmin">
        <div  class="text-center">
            <h2>Tag Option</h2>
        </div>

        <div class="p-4 text-bg-dark shadow rounded-4 mb-5 overflow-y-auto mt-3">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 justify-content-center " >
                <div class="col-4" *ngFor="let item of Array_FormTags" >
                    <div class="container p-4" (click)="  tagsclick(item.id)" >
                        <div class="card-wrap">
                            <div class="card-header three">
                              <img src="../../assets/Image/Option04.png" width="150" alt="IT">
                            </div>
                            <div class="card-content">
                              <h4 class="card-title" > {{item.label_Content}} </h4>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="edittags && !addtags && !Assigntags">
        <div class="text-center">
            <h2>Edit Tag</h2>
          </div>
          <div class="p-4 text-bg-dark shadow rounded-4 mb-5 overflow-y-auto mt-3">
            <div class="container p-4">
              <form [formGroup]="TagForm"  enctype="multipart/form-data">
                <div class="form-group">
                  <label for="TagID">Tag Name:</label>
                  <ng-select id="TagID" class="form-control" formControlName="TagID" (ngModelChange)="onTagChange($event) ;">
                      <ng-option *ngFor="let TagOption of TagOptions" [value]="TagOption.Lantin_TagName">{{TagOption!.Lantin_TagName}}</ng-option>
                  </ng-select>
                </div>
                <div *ngIf="selectedTagCase">
                    <div class="form-group">
                      <label for="visable">visable:</label>
                      <ng-select id="visable" class="form-control" [(ngModel)]="selectedTag!.visable" [hideSelected]="true" formControlName="visable" >
                          <ng-option [value]="true" > True </ng-option>
                          <ng-option [value]="false"> False </ng-option>
                      </ng-select>
                    </div>
                    <div class="form-group">
                      <label for="Lantin_TagName">Lantin_TagName:</label>
                      <input type="text" id="Lantin_TagName" [(ngModel)]="selectedTag!.Lantin_TagName" formControlName="Lantin_TagName" class="form-control" >
                    </div>
                    <div class="form-group">
                      <label for="Local_TagName">Local_TagName:</label>
                      <input type="text" id="Local_TagName" [(ngModel)]="selectedTag!.Local_TagName" formControlName="Local_TagName" class="form-control" >
                    </div>
                    <div class="form-group">
                      <label for="Tag_Photo_Location">Tag_Photo_Location:</label>
                      <input type="text" id="Tag_Photo_Location" [(ngModel)]="selectedTag!.Tag_Photo_Location" formControlName="Tag_Photo_Location" class="form-control" >
                    </div>
                    <div class="form-group">
                      <label for="GroupID">Group Name: </label>
                      <ng-select id="GroupID" class="form-control"  [hideSelected]="true" formControlName="GroupID" [multiple]="true" [(ngModel)]="selectedGroupName" (change)="onGroupChange($event)">
                        <ng-option *ngFor="let GroupOption of GroupOptions" [value]="GroupOption.Lantin_GroupName">{{GroupOption.Lantin_GroupName}}</ng-option>
                      </ng-select>
                    </div>
                    <div class="form-group">
                      <label for="Image">Image (JPG only):</label>
                      <input type="file" (change)="onFileSelected($event)" accept="image/jpeg" formControlName="Image" name="Image" id="Image" class="form-control"  />
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-3" (click)="onSubmit()">Edit Tag</button>
                <div class="popup" id="popup"></div>
              </form>
            </div>
          </div>

    </div>
    <div *ngIf="addtags && !edittags && !Assigntags">
        <div class="text-center">
            <h2>Add Tag</h2>
          </div>
          <div class="p-4 text-bg-dark shadow rounded-4 mb-5 overflow-y-auto mt-3">
            <div class="container p-4">
              <form [formGroup]="TagForm"  enctype="multipart/form-data">
                <div class="form-group">
                    <label for="Lantin_TagName">Lantin_TagName:</label>
                    <input type="text" id="Lantin_TagName" formControlName="Lantin_TagName" class="form-control" >
                  </div>
                  <div class="form-group">
                    <label for="Local_TagName">Local_TagName:</label>
                    <input type="text" id="Local_TagName" formControlName="Local_TagName" class="form-control" >
                  </div>
                  <div class="form-group">
                    <label for="Image">Image (JPG only):</label>
                    <input type="file" (change)="onFileSelected($event)" formControlName="Image" accept="image/jpeg" name="Image" id="Image" class="form-control"  />
                  </div>
                  <div class="form-group">
                    <label for="GroupID" >Group Name: </label>
                    
                    <ng-select id="GroupID"  [multiple]="true" class="form-control" formControlName="GroupID" (ngModelChange)="onGroupChange($event)" >
                        <ng-option *ngFor="let GroupOption of GroupOptions" [value]="GroupOption.Lantin_GroupName">{{GroupOption!.Lantin_GroupName}}</ng-option>
                    </ng-select>
                  </div>
                <button type="submit" class="btn btn-primary mt-3" (click)="onSubmit()">Add Tag</button>
                <div class="popup" id="popup"></div>
              </form>
            </div>
          </div>
    </div>
    <div *ngIf="!addtags && !edittags && Assigntags">
      <div class="text-center">
          <h2>Assign Tags To Group</h2>
        </div>
        <div class="p-4 text-bg-dark shadow rounded-4 mb-5 overflow-y-auto mt-3">
          <div class="container p-4">
            <form [formGroup]="TagForm"  enctype="multipart/form-data">
              <div class="form-group">
                <label for="TagID">Tag Name:</label>
                <ng-select id="TagID" [multiple]="true" class="form-control" formControlName="TagID" (ngModelChange)="onTagChange($event) ;">
                    <ng-option *ngFor="let TagOption of TagOptions" [value]="TagOption.Lantin_TagName">{{TagOption!.Lantin_TagName}}</ng-option>
                </ng-select>
              </div>
              <div class="form-group">
                <label for="GroupID">Group Name:</label>
                <ng-select id="GroupID"  [multiple]="true" class="form-control" formControlName="GroupID" (ngModelChange)="onGroupChange($event)" >
                    <ng-option *ngFor="let GroupOption of GroupOptions" [value]="GroupOption.Lantin_GroupName">{{GroupOption!.Lantin_GroupName}}</ng-option>
                </ng-select>
              </div>
              <button type="submit" class="btn btn-primary mt-3" (click)="onSubmit()">Assign Tags To Group</button>
              <div class="popup" id="popup"></div>
            </form>
          </div>
        </div>
  </div>
</section>